/Arpg/Library
*.meta
/Arpg/ProjectSettings
/Arpg/Logs
/Arpg/Temp
/Arpg/UnityEngine.*
/Arpg/Unity.*
/Arpg/UnityEditor.*
/Arpg/Packages
/Arpg//
/Arpg/Assets/TextMesh Pro
/Arpg/obj
/Arpg/Assets/ProjectRef
*.sln
*.csproj

